<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bref runtime versions</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600" rel="stylesheet">
    <style>
        :root {
            --font-sans: Open Sans, system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
            --font-serif: Poppins, system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
            --font-mono: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
        }
        .font-sans {
            font-family: var(--font-sans);
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body class="font-sans text-sm">
    <div class="mb-3 relative w-full">
        <select class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                id="regionSelector" onchange="changeRegion()">
            {% for region in regions %}
                <option {% if region == selectedRegion %}selected{% endif %}>{{ region }}</option>
            {% endfor %}
        </select>
        <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
    </div>

    {% if layers is not empty %}
        <table class="w-full text-left table-collapse">
            <tr class="text-grey-dark bg-grey-lightest uppercase text-xs">
                <th class="p-3">Layer name</th>
                <th class="p-3">ARN</th>
                <th class="p-3">Latest version</th>
            </tr>
            {% for layer in layers %}
                <tr>
                    <td class="p-3 border-t border-grey-light font-bold">{{ layer.name }}</td>
                    <td class="p-3 border-t border-grey-light text-grey-dark text-xs md:text-sm"><code class="font-mono">{{ layer.arn }}</code></td>
                    <td class="p-3 border-t border-grey-light text-blue-dark text-right">{{ layer.version }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no runtimes published in this region yet!</p>
    {% endif %}

    <script>
        function changeRegion() {
            const region = document.getElementById('regionSelector').value;
            window.location.search = '?region=' + region;
        }
    </script>
</body>
</html>
